<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mapmory-Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="put" action="/login">
            <table>
                <tr>
                    <td><label>ID : </label></td>
                    <td><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td><label>PWD : </label></td>
                    <td><input type="text" name="pwd"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="Login" name=""></td>
                    <a class="start" href="/register">Join</a>
                </tr>
            </table>
        </form>
    </body>
</html>