<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Mapmory-Register</title>
</head>
<body>
    <h1>Add User</h1>
    <form method="post" action="/register">
        <table>
            <tr>
                <td><label>ID : </label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><label>PWD : </label></td>
                <td><input type="text" name="pwd"></td>
            </tr>
 
            <tr>
                <td><label>NAME : </label></td>
                <td><input type="text" name="name"></td>
            </tr>
 
            <tr>
                <td><input type="submit" value="Submit" name=""></td>
            </tr>
 
        </table>
 
    </form>
 
</body>
</html>