<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>

    <style>
      body,html{
          margin: 0;
          padding: 0;
          height: 100%;
      }
      .img {
          border: 0;
          padding: 0;
          background-image: url('assets/img/bg-callout.jpg');
          background-size: cover;
          min-height: 100%;
          background-size: cover;
          background-position: center;
      }

      .img .content{
          position: absolute;
          top: 45%;
          left: 50%;
          font-size: 1rem;
          transform: translate(-50%, -50%);
          font-family: 'PT Serif', serif;
          text-align: center;
      }

      h1{
          font-size: 5rem;
          padding:0;
          margin:0;
      }

      h3{
          font-size: 2.5rem;
          padding:0;
          margin:2px;
      }
  </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="img">
      <div class="content">
          <h1>Mapmory</h1>
          <h3><em>Save your reminiscence with place</em></h3>
      </div>
    </div>
  </body>
</html>